body
{
	width : 900px;
	margin : auto;
	background-color : lightblue;
}
a
{
	text-decoration : none;
}
div.clearer {
clear:both;
font-size:0;
height:1px;
margin:0;
padding:0;
width:100%;
}
table
{
	width : 100%;
}
#header
{
	height : 100px;
	width : 100%;
	background-color : black;
	font-style : Verdana, Calibri, Arial, Times New Roman;
	font-size : 50px;
	color : #FFFFFF;
	font-weight : bold;
	text-align : center;

}
#nav_menu
{
	width : 100%;
	height : 25px;
	background-color : blue;
}
#nav_menu div
{
	float : left;
	background-color : none;
	height : 100%;
	
	margin : 0 10 0 10;
}
#nav_menu div:hover
{
	float : left;
	background-color : white;
	height : 100%;
}
#nav_menu div a
{
	text-decoration : none;
	font-family : Verdana, Calibri, Arial, Times New Roman;
	color : black;
}
#main
{
	font-family : Verdana, Calibri, Arial, Times New Roman;
	background-color : grey;
	color : white;
	font-size : 15px;
	text-decoration : none;
	text-align : center;
	vertical-align : center;
	
	padding-top : 50px;
	padding-bottom : 30px;

}

#footer
{
	font-family : Verdana, Calibri, Arial, Times New Roman;
	background-color : grey;
	color : white;
	font-size : 11px;
	text-decoration : none;
	text-align : center;
	vertical-align : center;
	height : 50px;
	padding-top : 10px;
	margin-top : -15px;
}

